/* ejercicio2a.css   HL18006  */

pais{background-color:rgb(42, 165, 69);}
departamento{background-color:rgb(66, 116, 209); display:block;} cabecera {color:white; display:inline;} apellido {color:rgb(196, 196, 80); display:inline;}
habitantes{color:yellow;font-size:1cm; display:none;}
codigo_telefonico{color:rgb(255, 136, 0);font-size:1cm; display:flex;}